.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10;
}

.modal {
  position: fixed;
  top: 25vh;
  left: 10%;
  width: 80%;
  background: white;
  z-index: 20;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.modal__content {
  padding: 1rem;
  min-height: 10rem;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
