<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Node JS demo</title>
  </head>
  <body>
    <h1>Hello <%= user %></h1>
    <form method="POST" action="/">
      <input name="username" type="text" /><button type="submit">Send</button>
    </form>
  </body>
</html>
